.contato {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 350px 0;
    padding-bottom: 200px;
}

.contatos-info {
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 25px;
}

.num {
    gap: 60px;

}

.informacoes-contato {
    display: flex;
    gap: 400px;
}